.advantages {
  margin-top: 2em;
  position: relative;
  top: 2em;
}

.advantage {
  text-align: center;
  font-size: 1rem;
  color: #4a4a4a;
  margin-bottom: 2em;
}

.advantage__icon {
  margin-bottom: 20px;
  min-height: 40px;
}

.advantage__title {
  font-weight: 600;
}

.advantage__text {
  margin-top: 10px !important;
}
