.affiliate-form {
  padding-right: 60px;

  @include breakpoint-down(md) {
    padding-right: 0;
    margin-bottom: 2.5em;
  }

  .form-control {
    border: 1px solid #999 !important;
    font-size: 1em;
    padding: 7px 15px;
    height: auto !important;
    box-shadow: none !important;
    border-radius: 1px !important;
    resize: none;
    color: #444 !important;
  }

  .name {
    max-width: 325px;
  }

  .email {
    max-width: 420px;
  }

  .telephone {
    max-width: 212px;
  }

  label {
    color: #444;
    font-weight: normal;
  }

  legend {
    border: none;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 1em;
    color: #000;
  }

  fieldset:first-child legend {
    padding-top: 0;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-actions {
    padding-top: 10px;
  }

  .add-auditor,
  .delete-auditor {
    font-size: 1em;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  .delete-auditor {
    display: inline-block;
    margin-left: 10px;
  }

  .add-auditor {
    margin-top: -10px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.not-the-contact-form {
  height: 400px;
  padding: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
  margin-right: 60px;

  p + p {
    margin-top: 15px;
  }

  @include breakpoint-down(md) {
    height: 220px;
    margin-right: 0;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4A4A4A !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4A4A4A !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4A4A4A !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4A4A4A !important;
}
