.benefits {
  position: relative;
  top: -2em;
}

.benefit {
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  font-size: 1rem;
  color: #4a4a4a;
  margin-top: 1.7em;
  min-height: 5em;

  @include breakpoint-down(lg) {
    min-height: 9em;
  }

  @include breakpoint-down(sm) {
    min-height: 0;
  }
}

.benefit__icon {
  position: absolute;
  top: 0;
  right: 100%;
}

.benefit__title {
  font-weight: 600;
}
