.contact-form {
  padding-right: 60px;
  margin-top: 8px;

  @include breakpoint-down(md) {
    padding-right: 0;
  }

  .form-control {
    border: none !important;
    border-bottom: 1px solid #4A4A4A !important;
    font-size: 1em;
    padding: 0.2em 0 1.2em;
    box-shadow: none !important;
    border-radius: 0 !important;
    resize: none;
    color: #4A4A4A !important;
  }

  .form-group {
    margin-bottom: 20px;

    & + .form-group {
      margin-top: 30px;
    }
  }

  .form-actions {
    padding-top: 10px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4A4A4A !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4A4A4A !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4A4A4A !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4A4A4A !important;
}
