.contact-form {
  padding-right: 60px;

  @include breakpoint-down(md) {
    padding-right: 0;
    margin-bottom: 2.5em;
  }

  .form-control {
    border: 1px solid #999 !important;
    font-size: 1em;
    padding: 7px 15px;
    height: auto !important;
    box-shadow: none !important;
    border-radius: 1px !important;
    resize: none;
    color: #444 !important;
  }

  #name {
    max-width: 325px;
  }

  #email {
    max-width: 420px;
  }

  #telephone {
    max-width: 212px;
  }

  label {
    color: #444;
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-actions {
    padding-top: 10px;
  }
}

.not-the-contact-form {
  padding-bottom: 30px;
  margin-right: 60px;

  strong {
    color: #000;

    &.text-danger {
      color: #D0021B;
    }
  }

  p + p {
    margin-top: 15px;
  }

  @include breakpoint-down(md) {
    margin-right: 0;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4A4A4A !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4A4A4A !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4A4A4A !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4A4A4A !important;
}
