.footer {
  background: #131B3A;
  font-size: 19px;
  font-size: 1rem;
  color: $white;

  @media (min-width: 768px) {
    margin-top: -116px;
  }

  > .container {
    display: table;
    width: 100%;
  }
}

.footer__first,
.footer__second,
.footer__third {
  display: table-cell;
  vertical-align: middle;
  padding: 1.5em 2em 1em;

  @include breakpoint-down(sm) {
    display: block;
  }
}

.footer__first {
  text-align: left;
  width: 1px;
  padding-left: 0;

  @include breakpoint-down(sm) {
    text-align: center;
    width: 100%;
  }
}

.footer__second {
  text-align: center;
  font-size: 16px;
}

.footer__third {
  width: 302px;
  text-align: left;
  font-size: 16px;
  padding-right: 0;

  @include breakpoint-down(sm) {
    text-align: center;
    width: 100%;

    img {
      display: block;
      margin: 0 auto !important;
    }
  }

  img {
    max-width: 100%;
  }

}
