.navbar {
  background: #fff !important;
  margin-bottom: 0 !important;
  border: none !important;
}

.navbar li a {
  border-bottom: 4px solid transparent;
  padding-top: 1.1em;
  padding-bottom: 1em;
  color: $black !important;
}

.navbar li.active a {
  border-bottom-color: $red;
  color: $black !important;
  background: rgba(#273776, 0.05) !important;
}

.navbar-nav {
  font-size: 19px;
  font-size: 1rem;
}

.navbar-toggle {
  border: none !important;
  border-radius: 0 !important;
  margin-top: 14px !important;
}

.navbar-brand {
  background: url("/images/logo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 143px;
  height: 48px;
  text-indent: -999px;
  overflow: hidden;
  margin-left: 0 !important;
  margin-top: 8px;
}
