.section {
  padding: 3em 4em 3em;
  font-size: 19px;
  font-size: 1rem;

  @include breakpoint-down(sm) {
    padding: 2em 0;
  }

  p {
    font-size: 1em;
  }
}

.section--benefits {
  padding-bottom: 0.5em;
}

.section--white {
  background: $white;
}

.section--grey {
  background: $light-grey;
}

.section__title {
  text-align: center;
  margin: 0.1em auto;
  line-height: 1.4;
  font-size: em(30);
  max-width: 1200px;
  letter-spacing: 0.2px;

  @include breakpoint-down(lg) {
    font-size: em(20);
  }
}

.section__title--subhero {
  margin: 0.8em auto;
}

.section__title--special {
  text-align: left;
  position: relative;
  margin: 0;
  margin-bottom: 2.5em;

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    margin-top: 20px;
    display: block;
    left: 0;
    height: 2px;
    width: 117px;
    background: $navy;
  }
}

.section--logos {
  background: #fff;
  text-align: center;
  padding: 0;

  img {
    display: block;
    max-width: 100%;
  }
}
