.question {
  font-size: 1rem;
  padding-right: 30px;
  min-height: 8em;

  @include breakpoint-down(md) {
    min-height: 0;
  }

  & + .question {
    margin-top: 3em;
  }
}

.question__title {
  font-weight: bold;

  & + p {
    margin-top: 0;
  }
}

.question.first {
  @include breakpoint-down(md) {
    margin-top: 3em;
  }
}
