* {
 box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100% !important;
}


p + p {
  margin-top: 30px;
}

.backgrounded {
  background: #E9EBF1;

  > .container{
    max-width: 1440px;
    padding: 0;
  }
}

.site-wrapper {
  @media (min-width: 768px) {
    padding-bottom: 116px;
    min-height: 100vh;
  }
}
